# macOS
.DS_Store

# Node / Vite
node_modules/
dist/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Xcode / Swift / iOS
DerivedData/
*.xcuserstate
*.xcworkspace
xcuserdata/
*.swp
*.orig

# CocoaPods / SPM
Pods/
.build/
.swiftpm/

# Xcode build output
DerivedData/
_DerivedData/
*.xcuserdata/
xcuserdata/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM
